# dependencies
node_modules/

# SAM build artifacts
.aws-sam/

# build output
dist/

# logs
*.log
npm-debug.log*

# env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/*.sample.json
.idea/
*.swp
